*{
    margin: 0px;
    padding: 0px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 } 
  
#first-info{
    margin-top: 8px;
    padding: 10px;
    display: flex;
    list-style: none;
}
#first-info li i{
    color:chocolate ;
    margin-left:40px;
}
#first-info li a{
    text-decoration: none;
    color: black;
    margin: 4px;
}
#first-info li img{
    border-radius: 50%;
    width: 35px;
    margin-top: -5px;
    margin-left: 15px;
}
#first-info li img span{
    display:block;
}

#navigation{
    padding: 17px;
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    background-color: black;
    color: white;
}

#navigation ul{
    list-style: none;
    display: flex;
    margin-left: 135px;
    margin-top: 12px;
}
#navigation li a{
    text-decoration: none;
    color: white;
    margin-right: 60px;
    font-size: 20px;
}
#navigation li button{
    background-color:white;
    border: none;
    color: black;
    border-radius:5px ;
    padding: 8px;
    font-size: 20px;
    cursor: pointer;
    margin-top: -6px;
    margin-left: 20px;
}
#top-heading {
    height: 100vh;
    width: 100%;
    background-color: red;
    background-image: url('https://img.freepik.com/free-vector/realistic-neon-lights-background_23-2148907367.jpg?ga=GA1.1.220584239.1725994828&semt=ais_hybrid');
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.6; */
}
#op{
    background-color:black;
    opacity: 0.7;
}
#image-content{
    height: 80vh;
    width: 100%;
    padding-top: 120px;
}

#image-content h1{
    color:white;
    font-size:40px ;
    font-weight: bolder;
}
#image-content p{
    color:chocolate !important;
    font-weight: bolder;
}
#calender{
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
    margin-top: 50px;
    /* display: flex; */
}
#cal{
    display: flex;
    list-style-type: none;
}
#cal li{
    margin-left: 32px;
}
#cal li input, select{
    width: 150px;
    height: 32px;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}
#calender button{  
    background-color:black !important;
    color: white;
    opacity: 0.9;
    border: none;
    font-weight: bolder;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    position: absolute;
    right: 92px;
    top: 470px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#about{
    display: flex;
    padding: 0px 150px 0px 0px;
}
#about-heading{
    padding-left: 150px;
    padding-top: 100px;
    font-size: 18px;
    padding-right: 250x;
}
#home{
    top: 660px;
    right: 70px;
    height: 650px;
    position: absolute;
}

#services{
    padding: 0px 120px 0px 120px;
    margin-top: 250px;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 60px 20px;
}
#services h1, p{
    margin-top: 15px;
}
#gallery{
    display: grid;
    padding-left: 40px;
    padding-top: 50px;
    margin-right: 100px;
    grid-template-columns:repeat(4,1fr);   
    gap: 50px;
}
#gallery img{
    height:350px;
    width: 280px;
}
#plan{
    display: grid;
    grid-template-columns: 90% 10%;
    margin-top: 50px;
    padding: 0px 100px 0px 100px;
}
#plan button{
    background-color: chocolate;
    color: white;
    border: none;
    font-weight: bolder;
    height: 50px;
    width: 170px;
    margin-top: -5px;
}

#testi{
    margin-top: 100px;
    padding: 0px 100px 0px 100px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.st{
    color: chocolate;
    /* background-color: chocolate; */
}
#in{
    padding-top: 150px;
}
#choose{
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    background-image: url('https://img.freepik.com/premium-photo/hotel-room-with-bed-lamp_784737-12818.jpg?ga=GA1.1.220584239.1725994828&semt=ais_hybrid');
}
#choose > div{
    text-align: center;
    padding-top: 60px;
    /* background-color: ; */
}
#choose h1{
    color: white;
}
#choose button{
    background-color:white;
    color: black;
    border: none;
    font-weight: bolder;
    height: 50px;
    width: 170px;
    margin-top: 30px;
}
#again-gallery{
    display: grid;
    padding: 100px;
    grid-template-columns: 50% 50%;
}
#again-gallery button{
    height: 40px;
    width: 180px;
    border: 0px;
    margin-top: 30px;
    background-color: chocolate;
    color: white;
    font-size: 20px;
}
#photos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 0px 70px;
}
#photos img{
    height: 410px;
    width: 290px;
}
#news{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0px 100px 0px 100px;
    gap: 0px 10px;
    margin-top: 100px;
}
#news img{
    height: 180px;
}
#news div span{
    background-color: chocolate;
    color: white;
    padding: 8px 15px 8px 15px;
}
footer{
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(28, 27, 27);
    margin-top: 100px;
    padding-bottom: 20px;
}
#logos ul{
    display: flex;
    list-style: none;
}
#logos ul li{
    margin-top: 50px;
    margin-right: 70px;
}
#logos{
    opacity: 0.5;
}

#footer-link{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 30% 15% 15% 40%;
}
.f-link{
    margin-top: 10px;
    margin-right: 20px;
    font-size: 22px;
}
#quick-links{
    list-style-type: none;
    margin-top: 20px;
}
#quick-links li a {
    text-decoration: none;
    color: gray;
    font-size: 19px;
    margin-top: 5px;
}
#last-input{
    margin-top: 10px;
    height: 28px;
    width: 250px;
    border: 0px;
    padding: 8px;
}
#subscribe{
    background-color: chocolate;
    color: white;
    font-size: 22px;
    padding: 8px 18px;
    border-radius: 10px;
    margin-top: 1px;
    position:absolute;
    border: 0px;
    /* margin-left: -7px; */
    top: 5417px;
    right: 180px;
    border-radius: 0px;
}

#final{
    display: grid;
    grid-template-columns:80% 20% ;
}